/.idea/libraries/Gradle__androidx_activity_activity_1_3_1_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_2_3_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_testing_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_3_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_5_0_rc01_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_7_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_databinding_databinding_common_7_1_2.xml
/.idea/libraries/Gradle__androidx_databinding_databinding_compiler_common_7_1_2.xml
/.idea/libraries/Gradle__androidx_databinding_viewbinding_7_1_2_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_4_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_4_2_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_rules_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__com_android_databinding_baseLibrary_7_1_2.xml
/.idea/libraries/Gradle__com_android_signflinger_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_analytics_library_crash_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_analytics_library_protos_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_analytics_library_shared_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_analytics_library_tracker_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_annotations_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_aapt2_proto_7_1_2_7984345.xml
/.idea/libraries/Gradle__com_android_tools_build_aaptcompiler_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_apksig_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_apkzlib_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_builder_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_builder_model_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_builder_test_api_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_bundletool_1_8_0.xml
/.idea/libraries/Gradle__com_android_tools_build_gradle_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_gradle_api_7_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_jetifier_jetifier_core_1_0_0_beta09.xml
/.idea/libraries/Gradle__com_android_tools_build_jetifier_jetifier_processor_1_0_0_beta09.xml
/.idea/libraries/Gradle__com_android_tools_build_manifest_merger_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_build_transform_api_2_0_0_deprecated_use_gradle_api.xml
/.idea/libraries/Gradle__com_android_tools_common_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_ddms_ddmlib_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_dvlib_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_layoutlib_layoutlib_api_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_lint_lint_model_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_repository_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_sdk_common_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_sdklib_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_device_provider_ddmlib_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_device_provider_gradle_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_test_plugin_host_additional_test_output_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_test_plugin_host_coverage_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_test_plugin_host_retention_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_tools_utp_android_test_plugin_result_listener_gradle_proto_30_1_2.xml
/.idea/libraries/Gradle__com_android_zipflinger_7_1_2.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_kotlin_2_11_1.xml
/.idea/libraries/Gradle__com_fasterxml_woodstox_woodstox_core_6_2_1.xml
/.idea/libraries/Gradle__com_github_gundy_semver4j_nodeps_0_16_4.xml
/.idea/libraries/Gradle__com_google_android_annotations_4_1_1_4.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_4_0_beta01_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_6_0_aar.xml
/.idea/libraries/Gradle__com_google_api_grpc_proto_google_common_protos_1_12_0.xml
/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_2.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_9_0.xml
/.idea/libraries/Gradle__com_google_crypto_tink_tink_1_3_0_rc2.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_2_28_3.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_2_40_1.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_lint_aar_2_40_1_aar.xml
/.idea/libraries/Gradle__com_google_dagger_hilt_android_2_40_1_aar.xml
/.idea/libraries/Gradle__com_google_dagger_hilt_core_2_40_1.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Gradle__com_google_flatbuffers_flatbuffers_java_1_12_0.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Gradle__com_google_guava_guava_30_1_jre.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Gradle__com_google_jimfs_jimfs_1_1.xml
/.idea/libraries/Gradle__com_google_protobuf_protobuf_java_3_10_0.xml
/.idea/libraries/Gradle__com_google_protobuf_protobuf_java_util_3_10_0.xml
/.idea/libraries/Gradle__com_google_testing_platform_core_proto_0_0_8_alpha07.xml
/.idea/libraries/Gradle__com_googlecode_json_simple_json_simple_1_1.xml
/.idea/libraries/Gradle__com_googlecode_juniversalchardet_juniversalchardet_1_0_3.xml
/.idea/libraries/Gradle__com_squareup_javapoet_1_10_0.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_5_0.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_core_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_utils_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_androidx_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_core_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_support_fragments_2_8_1_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_android_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_graph_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_hprof_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_log_2_8_1.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_9_1.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_9_1.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_2_8_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
/.idea/libraries/Gradle__com_sun_activation_javax_activation_1_2_0.xml
/.idea/libraries/Gradle__com_sun_istack_istack_commons_runtime_3_0_8.xml
/.idea/libraries/Gradle__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__de_undercouch_gradle_download_task_4_1_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_api_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_context_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_core_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_netty_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_protobuf_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_protobuf_lite_1_21_1.xml
/.idea/libraries/Gradle__io_grpc_grpc_stub_1_21_1.xml
/.idea/libraries/Gradle__io_mockk_mockk_1_10_6.xml
/.idea/libraries/Gradle__io_mockk_mockk_common_1_10_6.xml
/.idea/libraries/Gradle__io_mockk_mockk_dsl_1_10_6.xml
/.idea/libraries/Gradle__io_mockk_mockk_dsl_jvm_1_10_6.xml
/.idea/libraries/Gradle__io_netty_netty_buffer_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_codec_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_codec_http_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_codec_http2_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_codec_socks_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_common_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_handler_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_handler_proxy_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_resolver_4_1_34_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_4_1_34_Final.xml
/.idea/libraries/Gradle__io_opencensus_opencensus_api_0_21_0.xml
/.idea/libraries/Gradle__io_opencensus_opencensus_contrib_grpc_metrics_0_21_0.xml
/.idea/libraries/Gradle__it_unimi_dsi_fastutil_8_4_0.xml
/.idea/libraries/Gradle__jakarta_activation_jakarta_activation_api_1_2_1.xml
/.idea/libraries/Gradle__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_5_6_0.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_platform_5_6_0.xml
/.idea/libraries/Gradle__net_sf_jopt_simple_jopt_simple_4_9.xml
/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0.xml
/.idea/libraries/Gradle__org_antlr_antlr4_4_5_3.xml
/.idea/libraries/Gradle__org_apache_commons_commons_compress_1_20.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_6.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_10.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_5_6.xml
/.idea/libraries/Gradle__org_bitbucket_b_c_jose4j_0_7_0.xml
/.idea/libraries/Gradle__org_bouncycastle_bcpkix_jdk15on_1_56.xml
/.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk15on_1_56.xml
/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_5_0.xml
/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
/.idea/libraries/Gradle__org_codehaus_woodstox_stax2_api_4_2_1.xml
/.idea/libraries/Gradle__org_glassfish_jaxb_jaxb_runtime_2_3_2.xml
/.idea/libraries/Gradle__org_glassfish_jaxb_txw2_2_3_2.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jdom_jdom2_2_0_6.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_dokka_dokka_core_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_intellij_deps_trove4j_1_0_20181211.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_annotation_processing_gradle_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_build_common_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_compiler_embeddable_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_compiler_runner_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_daemon_client_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_daemon_embeddable_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_api_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_model_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_klib_commonizer_api_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_native_utils_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_project_model_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_common_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_compiler_embeddable_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_compiler_impl_embeddable_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_jvm_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_tooling_metadata_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_util_io_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_util_klib_1_5_31.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_2.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_6_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_2.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_6_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_test_jvm_1_6_1.xml
/.idea/libraries/Gradle__org_jetbrains_markdown_jvm_0_2_1.xml
/.idea/libraries/Gradle__org_json_json_20180813.xml
/.idea/libraries/Gradle__org_jsoup_jsoup_1_13_1.xml
/.idea/libraries/Gradle__org_jvnet_staxex_stax_ex_1_8_1.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_2_19_0.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_3_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_analysis_9_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_commons_9_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_tree_9_1.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_util_9_1.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Gradle__org_tensorflow_tensorflow_lite_metadata_0_1_0_rc2.xml
/.idea/libraries/Gradle__xerces_xercesImpl_2_12_0.xml
/.idea/libraries/Gradle__xml_apis_xml_apis_1_4_01.xml
/.idea/modules/app/Sliide.app.androidTest.iml
/.idea/modules/app/Sliide.app.iml
/.idea/modules/app/Sliide.app.main.iml
/.idea/modules/app/Sliide.app.unitTest.iml
/.idea/modules/core/base/Sliide.core.base.androidTest.iml
/.idea/modules/core/base/Sliide.core.base.iml
/.idea/modules/core/base/Sliide.core.base.main.iml
/.idea/modules/core/base/Sliide.core.base.unitTest.iml
/.idea/modules/core/components/Sliide.core.components.androidTest.iml
/.idea/modules/core/components/Sliide.core.components.iml
/.idea/modules/core/components/Sliide.core.components.main.iml
/.idea/modules/core/components/Sliide.core.components.unitTest.iml
/.idea/modules/core/navigation/Sliide.core.navigation.androidTest.iml
/.idea/modules/core/navigation/Sliide.core.navigation.iml
/.idea/modules/core/navigation/Sliide.core.navigation.main.iml
/.idea/modules/core/navigation/Sliide.core.navigation.unitTest.iml
/.idea/modules/core/remote/Sliide.core.remote.androidTest.iml
/.idea/modules/core/remote/Sliide.core.remote.iml
/.idea/modules/core/remote/Sliide.core.remote.main.iml
/.idea/modules/core/remote/Sliide.core.remote.unitTest.iml
/.idea/modules/core/Sliide.core.iml
/.idea/modules/features/main/Sliide.features.main.androidTest.iml
/.idea/modules/features/main/Sliide.features.main.iml
/.idea/modules/features/main/Sliide.features.main.main.iml
/.idea/modules/features/main/Sliide.features.main.unitTest.iml
/.idea/modules/features/Sliide.features.iml
/.idea/modules/features/users/Sliide.features.users.androidTest.iml
/.idea/modules/features/users/Sliide.features.users.iml
/.idea/modules/features/users/Sliide.features.users.main.iml
/.idea/modules/features/users/Sliide.features.users.unitTest.iml
/.idea/modules/Sliide.buildSrc.iml
/.idea/modules/Sliide.buildSrc.main.iml
/.idea/modules/Sliide.buildSrc.test.iml
/.idea/modules/Sliide.iml
/.idea/navEditor.xml
